body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background: #0f2027 !important;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.7);
}

.highlight {
  color: #00c6ff;
}

.profile-img {
  max-width: 280px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.7);
}

.btn-custom {
  background: #00c6ff;
  color: white;
  border-radius: 30px;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 5px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.btn-custom:hover {
  background: #0072ff;
  transform: scale(1.1);
}

.project-card {
  background: #1b2a38;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s;
}
.project-card:hover {
  transform: translateY(-10px);
}
